.kfollowers{overflow:hidden;text-align:center}.kfollower{display:inline-block;margin:0 0 6px 0;display:inline-block;vertical-align:middle}.kfollower a{border-radius:5px;background:#000;float:left}.kfollower img{transition:opacity 400ms}.kfollower:hover img{opacity:0.7}.kfriends{overflow:hidden;text-align:center}.kfriend{display:inline-block;margin:0 0 6px 0;display:inline-block;vertical-align:middle}.kfriend a{border-radius:5px;background:#000;float:left}.kfriend img{transition:opacity 400ms}.kfriend:hover img{opacity:0.7}
